body{
    background-color: rgb(53, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    background-color: blue;
    color: white;
}
form{
    max-width: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}
input, button{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.success{
    border: 2px solid green;
}

.error{
    border: 2px solid red;
}