body{
    background-color: rgb(53, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    background-color: blue;
    color: white;
}

h2{
    text-align: center;
    background-color: rgb(98, 5, 129);
    color: white;
}

input, button{
    display: block;
    margin: 10px auto;
    padding: 4px;
}